/* Base */
$white: #fff;
$black: #000;
$gray: #C3C3C3;
$accent: #3E9CDC;
$accent-dark: #286690;
$accent-light: #42a9ed;
$accent-third: #272733;
$background: #10101de6;

$color-bg: #10101d;
$color-text: $black;
$color-base: $white;
$color-graybase: $accent-dark;

$font-family: 'Lato', sans-serif;
$font-size: 14px;
$line-height: 18px;
$letter-spacing: 0;
$scroll-width: 14px;

$color-primary: $accent-light;
$color-secondary: #272733;

$btn-color: #FFF;
$btn-border-color: #FFF;
$btn-background: $accent;
$btn-outline-color: #2A2B30;
$btn-outline-border-color: #6F6D7B;
$btn-outline-background: #FFF;

$footer-color: #3D4050;

$desc-color: #BBB;

$layout-max-width: 1920px;

$color-icon-default: $accent;
$color-icon-qiwi: #f78800;
$color-icon-ym: $accent;
$color-icon-wm: #0369af;
$color-icon-mail: #e94134;
$color-icon-vk: #5b7fa5;

/* BreakPoints */
/* size:    (  1,   2,   3,   4,   5,    6,    7,    8) */ // Scaled:
$screen:    (320, 375, 425, 576, 768, 1024, 1280, 1920); // <- from (px)
$container: (320, 375, 425, 576, 768,  768, 1024, 1200); // <- to (px)
$padding:   ( 10,  15,  15,  20,  30,   30,   28,   14);
$bp-count: 8;


// /* size:    (  1,   2,   3,   4,   5,    6,    7,    8,    9) */
// $screen:    (320, 360, 576, 768, 992, 1024, 1280, 1440, 1920);
// $container: (320, 360, 576, 768, 768,  768, 1024, 1200, 1200);
// $padding:   ( 14,  14,  14,  14,  14,   14,   14,   14,   14);

/* use:   1,   3,   4,    6,    7,    9 */
/* use: 320, 576, 768, 1024, 1280, 1920 */