.settings
  ._toogle#layout-settings
    span <
  ._wrapper
    ._option
      label(for="change-inputs") Количество полей в форме:
      input(type="number" id="change-inputs" name="change-inputs" min="0" max="100" step="1" value="3")