include ../../components/logo/logo
include ../../components/menu/menu

- var logoTitle = 'LOREMIPSUM.<span class="logo__title_accent">NET</span>';
- 
  var menu = [
  { name: "Бизнес", href: "#footer" },
  { name: "О нас", href: "#hero" },
  { name: "Цены", href: "#prices" },
  { name: "Оформить заказ", href: "#order" }
  ];

header#header.header
  ._container.container
    ._main
      +logo(logoTitle)(class="header__logo")
      include ../../components/burger/burger
    ._menu#menu
      +menu(menu)