.menu {
  display: flex;
  margin: 0;
  padding: 0;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2px;
    margin-right: -30px;
  }

  &__item {
    list-style-type: none;
    height: 50px;
    font-weight: 600;

    &_active a {
      color: $accent-light;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0 30px;
    line-height: 1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}