mixin dot(subtitle)
  .article
    .article-wrapper
      h4= subtitle

+dot('Lorem ipsum dolorsit amet')
+dot('Сonsectetur adipiscing elit')
+dot('Sed do eiusmod tempor')
+dot('Esse cillum dolore eu fugiat')
+dot('Excepteur sint occaecat cupidatat non proident')