.description {
  font-family: "Lato", sans-serif;
  color: $desc-color;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  word-break: break-word;

  @include is-less-1024 {
    font-size: 18px;
    line-height: 26px;
  }
  @include is-less-768 {
    font-size: 16px;
    line-height: 24px;
  }
  @include is-less-576 {
    font-size: 16px;
    line-height: 24px;
  }
  @include is-less-320 {
    font-size: 14px;
    line-height: 16px;
  }
}