.h2-title {
  text-transform: uppercase;
  /*font-family: "Lato", sans-serif;*/
  font-family: "Raleway";
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  word-spacing: 10px;
  word-break: break-word;
  color: $color-base;
  display: block;

  @include is-less-1024 {
    font-size: 2rem;
    line-height: 2.75rem;
  }
  @include is-less-768 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  @include is-less-576 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  @include is-less-320 {
    font-size: 1.175rem;
    line-height: 1.435rem;
  }
}